img{
    margin: 0;
    padding: 0;
    display : inline-block;
    padding-top: -5px;
}
.logo{
    margin-top: -15px;
    margin-left: -20px;
    height: 100px;
}
.Home h1{
    margin: 0;
    padding: 0;
}

.logo p{
    height: 10px;
    padding: 0;
    margin: 0;
    padding-left: 31px;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
    bottom: 40px
}
.navbar a{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-family: calibri;
    font-weight: 900;
}
.navbar a:hover{
    text-decoration: underline;
    color: red;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
}

.navbar{
    position: absolute;
    right: 70px;
    top: 40px;
    
}
.para{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 50px;
    padding: 20px;
}


#container{
    text-align: center;
    display: block;
    padding: 0;
    background: linear-gradient(to right, black, white, black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
figcaption button{
    position: relative;
    left: 150px;
    bottom: 10px;
    height: 30px;
    width: 100px;
    background: transparent;
    word-spacing: 3px;
    font-family: cursive;
    font-weight: bold;
    
}
figcaption button:hover{
    box-shadow: 10px 10px 10px skyblue,-10px -10px 10px pink;
    border-radius: 0 10px;
}
.img-1{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-1:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-2{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-2:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-3{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-3 button{
    position: relative;
    left: 115px;
}
.img-3:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-4{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-4:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-5{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-5:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-6{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-6:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-7{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-7:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-8{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-8 button{
    position: relative;
    left: 80px;
    bottom: -10px;
}
.img-8:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-9{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-9:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}
.img-10{
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    background-color: #e8e7e7;
    border-radius: 20px;
    font-family: cursive;
    
}
.img-10:hover{
    transition: all 0.3s linear;
    transform: scale(1.04);
    text-decoration: underline;
}

.portfolio p{
    margin: 50px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, black, rgb(77, 76, 76));
    border-radius: 20px;
    
    color: yellow;

}

.portfolio p:hover{
    box-shadow: 10px 10px 10px skyblue,-10px -10px 10px pink;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.portfolio p::first-letter{
    font-size: 30px;
}
.portfolio a{
    letter-spacing: 5px;
    height: 50px;
    width: 200px;
    background-color: transparent;
    position: absolute;
    left: 40%;
    border: none;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-family: Segoe UI;
    
}

.portfolio a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid black;
    z-index: -1;
    transition: all 0.3s ease;
}
.portfolio a:hover::after{
    transform: scale(1.2,1.3);
    background-color: black;
    font-weight: bolder;
    color: white;
    border: 2px solid black;
}

.portfolio a:hover{
    color: white;
    font-weight: bolder;
    transition: all 1s ease;
} 
.portfolio a:active{
    color: red;
    background: black;
}


.contact h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 70px;
}

.contact{
    border: 2px solid black;
    height: 500px;
    width: 400px;
    position: relative;
    top: 70px;
    left: 30%;
    align-items: center;
    
}
.contact form{
    position: relative;
    top: 60px;
    left: 30%;
    font-family: cursive;
    
}
.contact:hover{
    box-shadow: 10px 10px 10px skyblue,-10px -10px 10px pink;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}
form input{
    height: 25px;
    border: none;
    border-bottom: 2px solid #1976D2;
}
form input:active{
    border: none;
    border-bottom: 2px solid red;
}
textarea{
    border: none;
    border-bottom: 2px solid #1976D2;
}
textarea:active{
    border: none;
    border-bottom: 2px solid red;
}
form button{
    height: 50px;
    width: 100px;
    letter-spacing: 5px;
    font-family: monospace;
    font-weight: bolder;
    background: transparent;
    position: relative;
    left: 150px;
    transition: all 0.3s ease-in-out;
    
}
form button:hover{
    transform: scale(1.2);
    
    
}
form button:active{
    color: red;
    background: black;
}

.footer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 70px;
    padding: 20px;
    background-color: #f1f1f1;
    color: red;
}

